@inject NavigationManager Navigation
@inject ApiService Api

<div class="d-flex flex-row justify-content-center mt-3" >

    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Collection
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> 
                    <label for="new-collection-name" class="form-label">Collection Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="new-collection-name"
                        placeholder="SampleCollection"
                        @bind="_newCollectionName" @bind:event="oninput"
                    />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="CreateCollectionHandler">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public int CollectionId { get; set; }

    private string? _newCollectionName = default;

    private async Task CreateCollectionHandler()
    {
        if (_newCollectionName is null)
        {
            return;
        }
        await Api.CreateCollectionAsync(_newCollectionName);
        Navigation.NavigateTo($"/collection/{CollectionId}", forceLoad: true);
    }
}